/* app.css */

/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
  }
  
  /* Define global styles */
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .custom-height {
    height: 835px;
  }

  .footer-nav {
    display: flex;
    justify-content: flex-end;
  }

  .drop-upward {
    border-radius: 0 0 0 0;
    left: 0;
    opacity: 0;
    padding: 0 5px;
    position: absolute;
    bottom: 100%;
    transition: opacity 0.5s ease 0s;

  }
  
  
  /* Add other global styles as needed */